*{
	margin:0;
	padding:0;
	border:0;
}

body{
	font-family:Minion, Arial, Sans;
	font-size:12px;
	color:#404041;
	background:#E7E9EC;
}

h1, h2, h3, h4, h5, h6, header, footer, nav, section, article, hgroup{
	display:block;
	font-size:1em;
}

a {
	color:#404041;
}

button{
	display:block;
	font-size:1em;
	color:#4A4748;
}

ul li{
	list-style:none;
}

.red-gradient-background{
	background: #6e0000; /* Old browsers */
	background: -moz-linear-gradient(left, #6e0000 0%, #310000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6e0000), color-stop(100%,#310000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #6e0000 0%,#310000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #6e0000 0%,#310000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #6e0000 0%,#310000 100%); /* IE10+ */
	background: linear-gradient(to right, #6e0000 0%,#310000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e0000', endColorstr='#310000',GradientType=1 ); /* IE6-9 */
}
.red-gradient-background-invert{
	background: #310000; /* Old browsers */
	background: -moz-linear-gradient(left, #310000 0%, #6e0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#310000), color-stop(100%,#6e0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #310000 0%,#6e0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #310000 0%,#6e0000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #310000 0%,#6e0000 100%); /* IE10+ */
	background: linear-gradient(to right, #310000 0%,#6e0000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#310000', endColorstr='#6e0000',GradientType=1 ); /* IE6-9 */
}
.red-gradient-background-vertical{
	background: rgb(49,0,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(49,0,0,1) 0%, rgba(110,0,0,1) 34%, rgba(110,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(49,0,0,1)), color-stop(34%,rgba(110,0,0,1)), color-stop(100%,rgba(110,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(49,0,0,1) 0%,rgba(110,0,0,1) 34%,rgba(110,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(49,0,0,1) 0%,rgba(110,0,0,1) 34%,rgba(110,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(49,0,0,1) 0%,rgba(110,0,0,1) 34%,rgba(110,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(49,0,0,1) 0%,rgba(110,0,0,1) 34%,rgba(110,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#310000', endColorstr='#6e0000',GradientType=0 ); /* IE6-9 */
}

.wrapper{
	width:980px;
	margin:0 auto;
}

.background{
	overflow:hidden;
	text-indent:-999px;
}

ul.h-menu{
	overflow:hidden;
}

ul.h-menu li{
	display:block;
	float:left;
}

ul.h-menu li:last-child{
	border-right:solid 1px;
	border-color:transparent;
	margin-right:0;
}

ul.h-menu li a{
	display:block;
	text-decoration:none;
	outline:none;
}

.single-field{
	overflow:hidden;
	height:25px;
	border:solid 1px #FFF;
	outline:none;
	border-top:solid 1px #DEDEDE;
	border-radius:0.8em;
	background:#FFF;
	background: -moz-linear-gradient(top, #d4d2d9 0%, #ffffff 20%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4d2d9), color-stop(20%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d4d2d9 0%,#ffffff 20%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d4d2d9 0%,#ffffff 20%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d4d2d9 0%,#ffffff 20%); /* IE10+ */
	background: linear-gradient(to bottom, #d4d2d9 0%,#ffffff 20%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d2d9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.single-field input{
	display:block;
	float:left;
	font-size:12px;
	line-height:15px;
	height:20px;
	padding:2px 4px;
	text-transform:uppercase;
	width:80%;
	overflow:hidden;
	outline:#FFF none 0;
	border:#FFF solid 0;
	background:transparent;
}

.single-field button{
	display:block;
	float:right;
	color:#FFF;
	font-size:12px;
	line-height:15px;
	height:25px;
	text-transform:uppercase;
	border-left:solid 1px #FFF;
	width:15%;
	overflow:hidden;
	text-align:center;
	border-radius:0.8em;
	cursor:pointer;
}

.default-button{
	background: none repeat scroll 0 0 #3B3738;
	border: 1px solid #FFFFFF;
	border-radius: 0.9em 0.9em 0.9em 0.9em;
	color: #FFFFFF;
	display: block;
	outline: medium none;
	padding: 5px 0;
	text-align: center;
	text-decoration: none;
	cursor:pointer;
	font-weight:bold;
}

.default-button:hover{
	background:#600000;
}

#main-header{
	height:130px;
	overflow:hidden;
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfff4 0%, #d6d4db 90%, #d4d2d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(90%,#d6d4db), color-stop(100%,#d4d2d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfff4 0%,#d6d4db 90%,#d4d2d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfff4 0%,#d6d4db 90%,#d4d2d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfff4 0%,#d6d4db 90%,#d4d2d9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfff4 0%,#d6d4db 90%,#d4d2d9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#d4d2d9',GradientType=0 ); /* IE6-9 */
}

#main-header div.wrapper{
	overflow:hidden;
}

#main-header h1{
	width:195px;
	height:100px;
	overflow:hidden;
	float:left;
	margin:15px 0 0 0;
}
#main-header h1 a{
	display:block;
	width:195px;
	height:100px;
	background:transparent url('../img/logo.png') left top no-repeat;
}

#main-header-nav-wrapper{
	width:480px;
	float:left;
	overflow:hidden;
	margin:25px 0 0 100px;
}

#areas-nav li{
	text-transform:uppercase;
	margin-right:1.5em;
}

#institutional-nav{
	margin:15px 0 0 0;
	background:#404041;
	height:25px;
	overflow:hidden;
}

#institutional-nav li a{
	overflow:hidden;
	color:#FFF;
	font-size:1.1em;
	font-weight:bold;
	padding:3px 9px;
	text-align:center;
}

#institutional-nav li a:hover{
	color:#EFEFEF;
}

#main-search{
	margin:10px 0 0 0;
}
#main-search .single-field button{
	background:#444;
	padding-left:20px;
	padding-right:5px;
	background:#404041 url('../img/search-icon.png') 6px center no-repeat;
	width:80px;
}

#cart-summary{
	width:130px;
	float:right;
	overflow:hidden;
	margin:45px 0 0 0;
}

#cart-summary p{
	text-transform:uppercase;
}

#cart-summary span{
	background: url("../img/cart.png") no-repeat scroll 10px center #404041;
	color: #FFFFFF;
	display: block;
	font-size: 0.8em;
	padding: 7px 7px 7px 70px;
	width: 75px;
}

#cart-summary var{
	font-style:normal;
}

#cart-summary ul{
	margin:2px 0;
}

#cart-summary ul li{
	font-size:0.9em;
	float:left;
}

#cart-summary ul li a{
	text-decoration:none;
	display:block;
	padding:3px 0;
}

#cart-summary ul li:last-child{
	float:right;
}

#main-nav{
	background:#404041;
	overflow:hidden;
	margin:0 0 25px 0;
}

#main-nav li{
	width:90px;
	height:20px;
	line-height:24px;
	overflow:hidden;
	border-left:solid 1px;
	border-color:#FFF;
	font-size:12px;
	padding:3px;
}

#main-nav li dl dd{
	display:none;
}

#main-nav li dl dt a{
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
}

#main-menu-item-faqueiros dt a{
	font-size:0.9em;
}

#sub-menu{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:120px;
	overflow:hidden;
	background:#000;
	z-index:1;
	border:solid 1px #FFF;
	border-bottom:0;
}

#sub-menu li a{
	color:#FFF;
	border-bottom:solid 1px #FFF;
	font-size:1em;
	padding:5px 10px;
	display:block;
	text-decoration:none;
	font-weight:bold;
}
#sub-menu li a:hover{
	background:#404041;
}

#hot-footer-bar{
	color:#FFF;
	margin-bottom:1em;
	position:relative;
	height:2em;
}

#hot-footer-bar.opened{
	background:#6D6E71;
}
#hot-footer-bar.opened h1{
	display:none;
}

#hot-footer-bar.closed{
	background:#900507;
	color:#FFF;
}
#hot-footer-bar.closed h1{
	text-align:center;
	text-transform:uppercase;
	font-weight:normal;
	font-size:1.1em;
	line-height:2em;
}

#hot-footer{
	width:100%;
	position:fixed;
	bottom:0;
}

#hot-footer-bar span{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 2em 2em 2em 2em;
	color: #444444;
	cursor: pointer;
	display: block;
	font-size: 2.5em;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	position: absolute;
	right: 0.5em;
	text-align: center;
	top: -0.7em;
	width: 35px;
}

#hot-footer-content{
	display:none	;
	height:300px;
	background: #5e000a; /* Old browsers */
	background: -moz-linear-gradient(left, #5e000a 0%, #d50000 47%, #5e000a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5e000a), color-stop(47%,#d50000), color-stop(100%,#5e000a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #5e000a 0%,#d50000 47%,#5e000a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #5e000a 0%,#d50000 47%,#5e000a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #5e000a 0%,#d50000 47%,#5e000a 100%); /* IE10+ */
	background: linear-gradient(to right, #5e000a 0%,#d50000 47%,#5e000a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e000a', endColorstr='#5e000a',GradientType=1 ); /* IE6-9 */
}

#hot-footer-info{
	float:left;
	width:480px;
	height:300px;
	background:url("../img/hot-info.png") no-repeat scroll -11px bottom transparent;
	position:relative;
	left:-9px;
}

#hot-footer-info div{
	bottom: 64px;
	color: #FFFFFF;
	height: 100px;
	left: 213px;
	overflow: hidden;
	position: absolute;
	text-transform: uppercase;
	width: 218px;
	-webkit-transform: rotate(352deg);
	-moz-transform: rotate(352deg);
	-o-transform: rotate(352deg);
	writing-mode: lr-tb;
}
#hot-footer-info div h1{
	font-size:1.8em;
}
#hot-footer-info div p{
	margin:0.3em 0 0 0;
	font-size:1em;
}

#hot-footer-product{
	float:left;
	width:495px;
	overflow:hidden;
	margin:10px 0;
}

#hot-footer-product h1{
	color:#FFF;
	font-size:2em;
	text-transform:uppercase;
	padding:0 0 15px 0;
}

#hot-footer-product-image{
	float:left;
	width:337px;
	overflow:hidden;
}

#hot-footer-product-data{
	float:left;
	width:140px;
	overflow:hidden;
	padding:0 0 0 10px;
}
#hot-footer-product p{
	color:#FFF;
	margin:0 0 15px 0;
}


#banners-wrapper{
	padding-top:25px;
	height:215px;
	overflow:hidden;
	border-bottom:solid 1px #999;
}


#banners-wrapper .banner{
	height:215px;
	overflow:hidden;
	background:#272325  center center no-repeat;
}
#banners-wrapper #banner-alpha.banner{ background-image:url('../img/banner.png'); }
#banners-wrapper #banner-beta.banner{ background-image:url('../img/banner.png'); }
#banners-wrapper #banner-gama.banner{ background-image:url('../img/banner.png'); }
#banners-wrapper #banner-delta.banner{ background-image:url('../img/banner.png'); }
#banners-wrapper #banner-zeta.banner{ background-image:url('../img/banner.png'); }
#banners-wrapper #banner-epsilon.banner{ background-image:url('../img/banner.png'); }
#banners-wrapper #banner-digama.banner{ background-image:url('../img/banner.png'); }
#banners-wrapper #banner-eta.banner{ background-image:url('../img/banner.png'); }
#banners-wrapper #banner-omega.banner{ background-image:url('../img/banner.png'); }

#banners-wrapper .banner div.wrapper{
	position:relative;
	height:215px;
}
